In [1]:
import sys
import os
sys.path.append(os.path.join(os.getcwd(), '../'))
from utility.print_summary import print_summary

In [2]:
import pandas as pd
import numpy as np

In [3]:
GCP_PROJECT_ID=os.getenv('PROJECT_ID')
GCS_BUCKET_NAME=os.getenv('BUCKET_NAME')

In [4]:
from cloud.gcs_storage_operations import GCSDataOperations

gcs = GCSDataOperations(GCP_PROJECT_ID)

INFO:cloud.gcs_storage_operations:GCS Data client initialized for project: dealiq-465722

In [5]:

df = gcs.read_parquet(GCS_BUCKET_NAME, "raw_data.parquet")

df.head()

INFO:cloud.gcs_storage_operations:Parquet read: dealiq_1/raw_data.parquet (426880 rows, 26 columns)

,id,url,region,region_url,price,year,manufacturer,model,condition,cylinders,...,size,type,paint_color,image_url,description,county,state,lat,long,posting_date
0,7222695916,https://prescott.craigslist.org/cto/d/prescott...,prescott,https://prescott.craigslist.org,6000,NaN,None,None,None,None,...,None,None,None,None,None,NaN,az,NaN,NaN,None
1,7218891961,https://fayar.craigslist.org/ctd/d/bentonville...,fayetteville,https://fayar.craigslist.org,11900,NaN,None,None,None,None,...,None,None,None,None,None,NaN,ar,NaN,NaN,None
2,7221797935,https://keys.craigslist.org/cto/d/summerland-k...,florida keys,https://keys.craigslist.org,21000,NaN,None,None,None,None,...,None,None,None,None,None,NaN,fl,NaN,NaN,None
3,7222270760,https://worcester.craigslist.org/cto/d/west-br...,worcester / central MA,https://worcester.craigslist.org,1500,NaN,None,None,None,None,...,None,None,None,None,None,NaN,ma,NaN,NaN,None
4,7210384030,https://greensboro.craigslist.org/cto/d/trinit...,greensboro,https://greensboro.craigslist.org,4900,NaN,None,None,None,None,...,None,None,None,None,None,NaN,nc,NaN,NaN,None

In [ ]:
gcs.

In [6]:
from DataCleaning.data_cleaning_main import main_data_cleaning_pipeline 

main_data_cleaning_pipeline()

INFO:cloud.gcs_storage_operations:GCS Data client initialized for project: dealiq-465722
INFO:cloud.gcs_storage_operations:Parquet read: dealiq_1/raw_data.parquet (426880 rows, 26 columns)
/Users/dhruvpatel/miniconda3/envs/Deal_Predection/lib/python3.12/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

Starting data extraction and cleaning...
Data extraction and cleaning completed!
Summary
=======
Original Columns: 26
Final Columns: 16
Dropped Columns: ['url', 'image_url', 'county', 'VIN', 'size', 'condition', 'posting_date', 'cylinders', 'region', 'region_url']
Missing Columns: []
Columns Dropped Count: 10
Columns Remaining: ['id', 'price', 'year', 'manufacturer', 'model', 'fuel', 'odometer', 'title_status', 'transmission', 'drive', 'type', 'paint_color', 'description', 'state', 'lat', 'long']
Summary
=======
Original Rows: 426,880
Final Rows: 403,254
Dropped Rows: 23,626
Drop Percentage: 5.53
Columns With Few Missing: ['year', 'description', 'fuel', 'odometer', 'lat', 'long', 'transmission', 'model', 'manufacturer']
Missing Columns: []
Missing Counts Before: {'year': np.int64(78), 'description': np.int64(70), 'fuel': np.int64(3013), 'odometer': np.int64(4400), 'lat': np.int64(6549), 'long': np.int64(6549), 'transmission': np.int64(2556), 'model': np.int64(5277), 'manufacturer': np.int64(4084)}
Total Missing Values: 32576
Summary
=======
Column Name: title_status
Fill Value: missing
Missing Before: 6978
Missing After: 0
Values Filled: 6978
Total Rows: 403,254
Summary
=======
Column Name: transmission
Fill Value: automatic
Missing Before: 0
Missing After: 0
Values Filled: 0
Total Rows: 403,254
Summary
=======
Total Rows: 403,254
Original Unique Values: 3
New Unique Values: 2
Original Value Counts: {'automatic': 318647, 'other': 61430, 'manual': 23177}
New Value Counts: {'automatic': 380077, 'manual': 23177}
Converted To Automatic: 380,077
Summary
=======
Total Rows: 403,254
Missing Before: 0
Missing After: 0
Values Filled: 0
Mappings Loaded: 83
Debug: DataFrame shape after cleaning: (389741, 16)
Step: remove_numerical_models
Rows removed due to numerical only: 11862
Rows removed due to length > 40: 1651
Total rows removed: 13513
Summary
=======
Total Rows Before: 403,254
Total Rows After: 389,741
Rows Removed: 13,513
Numerical Removed: 11862
Length Removed: 1651
Starting optimized model cleaning...
Creating optimized lookup tables...
Processing unique model values...

Processing unique models: 100%|██████████| 25750/25750 [05:07<00:00, 83.81it/s]

Applying results to DataFrame...
Found 368156 models to update.
Step: clean_models_with_list_optimized
Total rows modified: 272986

Sample transformations:
  'sierra 1500 crew cab slt' (gmc) -> 'Sierra' (gmc)
  'silverado 1500' (chevrolet) -> 'silverado' (chevrolet)
  'silverado 1500 crew' (chevrolet) -> 'silverado' (chevrolet)
  'tundra double cab sr' (toyota) -> 'Tundra' (toyota)
  'f-150 xlt' (ford) -> 'F-150' (ford)
  'sierra 2500 hd extended cab' (gmc) -> 'Sierra' (gmc)
  'silverado 1500 double' (chevrolet) -> 'silverado' (chevrolet)
  'colorado extended cab' (chevrolet) -> 'colorado' (chevrolet)
  'corvette grand sport' (chevrolet) -> 'corvette' (chevrolet)
  'cherokee' (jeep) -> 'Cherokee' (jeep)
Summary
=======
Total Rows: 389,741
Rows Modified: 272986
Models Updated: 290970
Manufacturers Updated: 72249
Unique Models Processed: 25,750
Lookup Tables Created: 1,923
Summary
=======
Original Rows: 381,513
Final Rows: 381,513
Rows Dropped: 0
Both Missing: 0
Summary
=======
Total Rows: 381,513
Rows Changed: 4992
Replacements: {'mini van': 'minivan', 'mini-van': 'minivan'}
Summary
=======
Total Rows: 381,513
Missing Before: 43958
Missing After: 225
Values Filled: 43733
Mapping Created: 1,104
Summary
=======
Original Rows: 381,513
Final Rows: 381,288
Rows Dropped: 225
Missing Values: 225
Summary
=======
Total Rows: 381,288
Missing Before: 0
Missing After: 0
Values Imputed: 0
Summary
=======
Total Rows: 381,288
Rows Changed: 1331
Replacements: {'land rover': 'land-rover', 'rover': 'land-rover'}
Summary
=======
Total Rows: 381,288
Nulls Before: 114503
Nulls After: 0
Filled Count: 114503
Fill Percentage: 100.0
Manufacturer State Combinations: 3,207
Successful Combinations: 3,052
Summary
=======
Total Rows: 381,288
Mapped Rows: 381288
Unmapped Rows: 0
Unmapped States: []
Divisions Found: 9
Summary
=======
Original Rows: 381,288
Rows After Cleaning: 347,820
Total Rows Dropped: 33,468
Zero Price Dropped: 25,287
Out Of Range Dropped: 8,181
Drop Rate Percent: 8.78
Price Range Applied: $500 - $300,000
Final Price Min: 500
Final Price Max: 299991
Final Price Mean: 19127.17
Final Price Std: 14572.55
Summary
=======
Total Rows: 347,820
Original Unique Values: 5
New Unique Values: 4
Original Value Counts: {'gas': 295983, 'other': 25821, 'diesel': 20102, 'hybrid': 4474, 'electric': 1440}
New Value Counts: {'gas': 321804, 'diesel': 20102, 'hybrid': 4474, 'electric': 1440}
Converted To Gas: 25,821
Step 1: Removing extreme odometer values...

Step 2: Validating odometer values...

Final Results:
Original rows: 347,820
Final rows: 347,041
Total removed: 779 (0.22%)
Final odometer range: 0 - 500,000
Final odometer mean: 92,187
Summary
=======
Original Rows: 347,820
Final Rows: 347,041
Total Removed: 779
Total Removal Percentage: 0.22
Removal Summary: {'original_rows': 347820, 'cleaned_rows': 347041, 'removed_rows': 779, 'removal_percentage': 0.22, 'min_threshold': 0, 'max_threshold': 500000, 'extreme_low_count': 0, 'extreme_high_count': 779, 'null_count': np.int64(0), 'original_stats': {'count': 347820.0, 'mean': 96325.67436892645, 'std': 163628.1894400773, 'min': 0.0, '25%': 37318.0, '50%': 86819.0, '75%': 135413.0, 'max': 10000000.0}, 'cleaned_stats': {'count': 347041.0, 'mean': 92187.05231946657, 'std': 63805.820862690074, 'min': 0.0, '25%': 37218.0, '50%': 86523.0, '75%': 135000.0, 'max': 500000.0}}
Validation Summary: {'total_rows': 347041, 'valid_rows': 347041, 'dropped_rows': 0, 'drop_percentage': 0.0, 'validation_range': (0, 500000), 'original_range': (np.float64(0.0), np.float64(500000.0)), 'new_range': (np.float64(0.0), np.float64(500000.0)), 'invalid_values': {'null_values': np.int64(0), 'below_minimum': np.int64(0), 'above_maximum': np.int64(0)}, 'validation_passed': np.True_}
Summary
=======
Original Rows: 347,041
Rows After Filtering: 347,041
Rows Dropped: 0
Invalid Regions Found: []
Drop Rate Percent: 0.0
Valid Regions: ['East South Central', 'Mountain', 'New England', 'Pacific', 'Middle Atlantic', 'West North Central', 'South Atlantic', 'East North Central', 'West South Central']
Summary
=======
Original Rows: 347,041
Filtered Rows: 339,125
Dropped Rows: 7,916
Drop Percentage: 2.28
Min Year Threshold: 1,990
Original Year Range: 1900.0 - 2022.0
New Year Range: 1990.0 - 2022.0
Null Years: 0
Invalid Years Count: 73
Invalid Years Breakdown: {1900.0: np.int64(1), 1901.0: np.int64(1), 1905.0: np.int64(1), 1915.0: np.int64(1), 1918.0: np.int64(1), 1921.0: np.int64(1), 1922.0: np.int64(1), 1923.0: np.int64(29), 1924.0: np.int64(7), 1925.0: np.int64(4), 1926.0: np.int64(6), 1927.0: np.int64(19), 1928.0: np.int64(25), 1929.0: np.int64(35), 1930.0: np.int64(49), 1931.0: np.int64(28), 1932.0: np.int64(29), 1933.0: np.int64(15), 1934.0: np.int64(21), 1935.0: np.int64(12), 1936.0: np.int64(13), 1937.0: np.int64(44), 1938.0: np.int64(15), 1939.0: np.int64(23), 1940.0: np.int64(41), 1941.0: np.int64(29), 1942.0: np.int64(7), 1943.0: np.int64(1), 1944.0: np.int64(2), 1946.0: np.int64(29), 1947.0: np.int64(31), 1948.0: np.int64(35), 1949.0: np.int64(32), 1950.0: np.int64(51), 1951.0: np.int64(51), 1952.0: np.int64(44), 1953.0: np.int64(49), 1954.0: np.int64(39), 1955.0: np.int64(114), 1956.0: np.int64(83), 1957.0: np.int64(88), 1958.0: np.int64(29), 1959.0: np.int64(42), 1960.0: np.int64(72), 1961.0: np.int64(41), 1962.0: np.int64(88), 1963.0: np.int64(159), 1964.0: np.int64(182), 1965.0: np.int64(256), 1966.0: np.int64(303), 1967.0: np.int64(248), 1968.0: np.int64(288), 1969.0: np.int64(272), 1970.0: np.int64(221), 1971.0: np.int64(200), 1972.0: np.int64(293), 1973.0: np.int64(226), 1974.0: np.int64(194), 1975.0: np.int64(116), 1976.0: np.int64(153), 1977.0: np.int64(177), 1978.0: np.int64(227), 1979.0: np.int64(276), 1980.0: np.int64(205), 1981.0: np.int64(131), 1982.0: np.int64(137), 1983.0: np.int64(153), 1984.0: np.int64(270), 1985.0: np.int64(319), 1986.0: np.int64(377), 1987.0: np.int64(347), 1988.0: np.int64(374), 1989.0: np.int64(433)}
Summary
=======
Total Rows: 339,125
Valid Rows: 339,125
Dropped Rows: 0
Drop Percentage: 0.0
Valid Values: ['automatic', 'manual']
Original Value Counts: {'automatic': 323012, 'manual': 16113}
Invalid Values: {}
Null Values: 0
Validation Passed: True
Summary
=======
Total Rows: 339,125
Valid Rows: 339,125
Dropped Rows: 0
Drop Percentage: 0.0
Valid Values: ['gas', 'diesel', 'hybrid', 'electric']
Original Value Counts: {'gas': 313558, 'diesel': 19659, 'hybrid': 4472, 'electric': 1436}
Invalid Values: {}
Null Values: 0
Validation Passed: True
Summary
=======
Total Rows: 339,125
Valid Rows: 339,125
Dropped Rows: 0
Drop Percentage: 0.0
Valid Values: ['clean', 'rebuilt', 'missing', 'salvage', 'lien', 'parts only']
Original Value Counts: {'clean': 321937, 'rebuilt': 6468, 'missing': 6062, 'salvage': 3368, 'lien': 1212, 'parts only': 78}
Invalid Values: {}
Null Values: 0
Validation Passed: True
Summary
=======
Total Rows: 339,125
Valid Rows: 339,125
Dropped Rows: 0
Drop Percentage: 0.0
Valid Values: ['sedan', 'suv', 'pickup', 'truck', 'other', 'coupe', 'hatchback', 'wagon', 'van', 'convertible', 'minivan', 'bus', 'offroad']
Original Value Counts: {'sedan': 90472, 'SUV': 83448, 'pickup': 40330, 'truck': 38336, 'other': 17573, 'coupe': 17393, 'hatchback': 17241, 'wagon': 10791, 'van': 10287, 'convertible': 6587, 'minivan': 5614, 'bus': 535, 'offroad': 518}
Invalid Values: {}
Null Values: 0
Validation Passed: True
Case Standardized: True
Summary
=======
Original Rows: 339,125
Filtered Rows: 337,090
Dropped Rows: 2,035
Drop Percentage: 0.6
Valid Manufacturers Count: 72
Found Manufacturers Count: 77
Invalid Manufacturers: {'crosley': np.int64(1261), 'austin': np.int64(688), 'harley-davidson': np.int64(47), 'harley': np.int64(18), 'desoto': np.int64(12), 'mack': np.int64(9)}
Summary
=======
Original Rows: 337,090
Final Rows: 337,090
Rows Dropped: 0
Invalid Values: 0
Valid Colors: ['white', 'black', 'silver', 'blue', 'red', 'grey', 'green', 'brown', 'custom', 'orange', 'yellow', 'purple']
Summary
=======
Original Rows: 337,090
Final Rows: 337,090
Rows Dropped: 0
Invalid Values: 0
Valid States: ['ca', 'fl', 'tx', 'ny', 'oh', 'mi', 'pa', 'or', 'wa', 'nc', 'wi', 'tn', 'co', 'il', 'id', 'va', 'nj', 'az', 'ma', 'mn', 'ia', 'ga', 'ks', 'mt', 'in', 'ok', 'sc', 'ct', 'md', 'al', 'ky', 'mo', 'ak', 'nm', 'nv', 'ar', 'dc', 'nh', 'la', 'me', 'vt', 'hi', 'ri', 'ut', 'sd', 'wv', 'ms', 'ne', 'de', 'wy', 'nd']
Summary
=======
Original Rows: 337,090
Final Rows: 336,614
Rows Dropped: 476
Min Count Threshold: 10
Models Kept: 945
Models Dropped: 90
Infrequent Model Rows: 476
Summary
=======
Original Rows: 336,614
Final Rows: 297,173
Rows Dropped: 39,441
Invalid Values: 39441
Valid Drives: ['4wd', 'fwd', 'rwd']
Value Counts: {'4wd': 156972, 'fwd': 92227, 'rwd': 47974}
Summary
=======
Original Rows: 297,173
Final Rows: 297,173
Rows Dropped: 0
Invalid Values: 0
Min Miles: 0
Max Miles: 500,000
Summary
=======
Original Rows: 297,173
Final Rows: 297,128
Rows Dropped: 45
Invalid Coordinates: 45
Lat Bounds: 18.0 - 72.0
Long Bounds: -180.0 - -66.0

Final null values summary:
id               0
price            0
year             0
manufacturer     0
model            0
fuel             0
odometer         0
title_status     0
transmission     0
drive            0
type             0
paint_color      0
description      0
state            0
lat              0
long             0
census_region    0
dtype: int64

,id,price,year,manufacturer,model,fuel,odometer,title_status,transmission,drive,type,paint_color,description,state,lat,long,census_region
27,7316814884,33590,2014.0,gmc,Sierra,gas,57923.0,clean,automatic,4wd,pickup,white,Carvana is the safer way to buy a car During t...,al,32.590000,-85.480000,East South Central
28,7316814758,22590,2010.0,chevrolet,silverado,gas,71229.0,clean,automatic,4wd,pickup,blue,Carvana is the safer way to buy a car During t...,al,32.590000,-85.480000,East South Central
29,7316814989,39590,2020.0,chevrolet,silverado,gas,19160.0,clean,automatic,4wd,pickup,red,Carvana is the safer way to buy a car During t...,al,32.590000,-85.480000,East South Central
30,7316743432,30990,2017.0,toyota,Tundra,gas,41124.0,clean,automatic,4wd,pickup,red,Carvana is the safer way to buy a car During t...,al,32.590000,-85.480000,East South Central
31,7316356412,15000,2013.0,ford,F-150,gas,128000.0,clean,automatic,rwd,truck,black,2013 F-150 XLT V6 4 Door. Good condition. Leve...,al,32.592000,-85.518900,East South Central
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
426875,7301591192,23590,2019.0,nissan,maxima,gas,32226.0,clean,automatic,fwd,sedan,silver,Carvana is the safer way to buy a car During t...,wy,33.786500,-84.445400,Mountain
426876,7301591187,30590,2020.0,ford,Sedan,gas,12029.0,clean,automatic,fwd,sedan,red,Carvana is the safer way to buy a car During t...,wy,33.786500,-84.445400,Mountain
426877,7301591147,34990,2020.0,jeep,Sport,diesel,4174.0,clean,automatic,4wd,hatchback,white,Carvana is the safer way to buy a car During t...,wy,33.779214,-84.411811,Mountain
426878,7301591140,28990,2018.0,ford,Sedan,gas,30112.0,clean,automatic,fwd,sedan,silver,Carvana is the safer way to buy a car During t...,wy,33.786500,-84.445400,Mountain
426879,7301591129,30590,2019.0,bmw,4-series,gas,22716.0,clean,automatic,rwd,coupe,white,Carvana is the safer way to buy a car During t...,wy,33.779214,-84.411811,Mountain

# standardizing

In [ ]:
#  standardization  and extracting info from model and description.
from DataCleaning.data_model import process_car_dataset

df=process_car_dataset(df)

In [ ]:
# dropping  unnecessory columns
from DataCleaning.data_cleaning import drop_unnecessary_columns , drop_rows_with_few_missing_values

df, summary = drop_unnecessary_columns(df) 
print_summary(summary)

In [ ]:
# dropping rows due to high NAs 

df, summary = df_cleaned, summary = drop_rows_with_few_missing_values(df) 

print_summary(summary)

# Filling missing values

### Title_status

In [ ]:
# filling missing values in title status with 'missing' 
from DataCleaning.data_title_status import fill_missing_values 

df,summary = fill_missing_values(df) 
print_summary(summary)

###  Transmission

In [ ]:
from DataCleaning.data_transmission import fill_missing_values_transmission, convert_transmission_to_automatic 


df,summary = fill_missing_values_transmission(df) 
print_summary(summary)
print_summary(summary)

In [ ]:
df, summary = convert_transmission_to_automatic(df)

print_summary(summary)

# drive column cleaning

In [9]:
# standardasition 
from DataCleaning.data_drive import clean_drive_column
df,summary=clean_drive_column(df, 'drive')

In [ ]:
# filling null values from research : (na values)
from DataCleaning.data_drive import fill_missing_drive_from_reference


df,summary = fill_missing_drive_from_reference(df,
                                       reference_file='/Users/dhruvpatel/Desktop/projects/DealPredection/data/models_with_drive.csv'
                                                 )

print_summary(summary)

# Model 

Clean in stages:
* Stage 1: Remove obvious junk (numbers, too short, too long)
* Stage 2: Extract core model from complex strings
* Stage 3: Standardize spelling and format
* Stage 4: Apply manufacturer-specific rules

In [ ]:
# Stage 1 : Remove obvious junk (only numbers, too short, too long)

from DataCleaning.data_model import remove_numerical_models

df,summary =remove_numerical_models(df)

print_summary(summary)

In [ ]:
df['manufacturer']

In [ ]:
from DataCleaning.data_model import clean_models_with_list_optimized
 
df,summary = clean_models_with_list_optimized(df)  

print_summary(summary)

In [ ]:
df.isnull().sum()

In [15]:
# clean model 
from DataCleaning.data_model import filter_by_value_counts

df = filter_by_value_counts(df, 'model', min_count=10)

# Type

In [ ]:
from DataCleaning.data_type import drop_na_drive_type  

df, summary = drop_na_drive_type(df)
print_summary(summary)

In [ ]:
# cleaning and standardasition  (type) 
from DataCleaning.data_type import replace_values 
df, summary =replace_values(df, 'type', {'mini van': 'minivan', 'mini-van': 'minivan'})
print_summary(summary)

In [ ]:
# filling null values based on data present. 
# First, let's see what we're working with

from DataCleaning.data_type import fill_type_from_model

df, summary = fill_type_from_model(df)

print_summary(summary)

In [ ]:
# finally drop type nulls 
from DataCleaning.data_type import drop_na_type

df_clean, summary =drop_na_type(df)

print_summary(summary)

# Drive

In [ ]:
# impute drive 1 ( based on cross tab type )

from DataCleaning.data_drive import impute_drive_from_type

df, summary = impute_drive_from_type(df)
print_summary(summary)

### Manufacturer

In [ ]:
from DataCleaning.data_manufacturers import standardize_manufacturer 

df, summary =standardize_manufacturer(df)
print_summary(summary)

### Paint Color

In [ ]:
from DataCleaning.data_paint_color import fill_paint_color_nulls 

# Usage
df, summary = fill_paint_color_nulls(df)

print_summary(summary)

# census_region

In [ ]:
from  DataCleaning.data_census_region import add_census_divisions_abbrev , validate_regions

# Usage
df, summary = add_census_divisions_abbrev(df)

print_summary(summary)

# Price

In [ ]:
from DataCleaning.data_price import clean_price_data 
# Usage example:
df, summary = clean_price_data(df, 'price')
print_summary(summary)

# Fuel

In [ ]:
from DataCleaning.data_fuel import  convert_fuel_to_gas


df,summary = convert_fuel_to_gas(df)
print_summary(summary)

# odometer

In [ ]:
# Import the functions
from DataCleaning.data_odometer import process_odometer_column



# Clean the data (recommended approach)
df, summary = process_odometer_column(df, 'odometer')

print_summary(summary)


# validation columns 

1. census_region ✅ 
2. drive ✅
3. fuel ✅
4. lat  
5. long
6. manufacturer ✅ 
7. model ✅ 
8.  ✅
9. paint_color ✅
10. price ✅
11. state ✅
12. title_status ✅
13. transmission ✅
14. type ✅
15. year ✅

In [ ]:
# 1 census_region 
df, summary = validate_regions(df) 

print_summary(summary)

In [ ]:
# 2 
from DataCleaning.data_year import validate_years
# Usage
df, summary = validate_years(df, year_column='year', min_year=1990)

print_summary(summary)

In [ ]:
# 3
# transmission column 

from DataCleaning.data_transmission import  validate_transmission_values 

df, validation_summary = validate_transmission_values(df)

print_summary(summary)

In [ ]:
# 4 
from DataCleaning.data_fuel import validate_fuel_values
df , summary = validate_fuel_values(df) 
print_summary(summary)

In [ ]:
# 5 
from DataCleaning.data_title_status import validate_title_status_values 

df, summary = validate_title_status_values(df)

print_summary(summary)

In [ ]:
# 6 
from DataCleaning.data_type import validate_type_values
df, summary = validate_type_values(df, standardize_case=True)

print_summary(summary)

In [ ]:
# 7
# Usage

from DataCleaning.data_manufacturers import  validate_manufacturers 
df, summary = validate_manufacturers(df)
print_summary(summary)

In [ ]:
# 8 
from DataCleaning.data_paint_color import validate_paint_color
df, summary = validate_paint_color(df)

print_summary(summary)

In [ ]:
# 9 
from DataCleaning.data_state import validate_state
df, summary = validate_state(df)

print_summary(summary)

In [ ]:
# 10 model 
from DataCleaning.data_model import validate_model_frequency

df_clean, summary = validate_model_frequency(df, min_count=10)
print_summary(summary)

In [ ]:
# 11 Drive  
from DataCleaning.data_drive import validate_drive_values
df, summary = validate_drive_values(df)
print_summary(summary)

In [ ]:
# 13
from DataCleaning.data_odometer import validate_odometer 

df, summary = validate_odometer(df, min_miles=0, max_miles=500000)
print_summary(summary)

In [ ]:
from DataCleaning.data_lat_long import validate_usa_coordinates
df, summary = validate_usa_coordinates(df)
print_summary(summary)

In [ ]:
df.isna().sum()